*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
.navbar{
    width: 100vw;
    height: 10vh;
    background-color: cornsilk;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.actions{
    display: flex;
    justify-content: space-around;
    width: 10vw;
}
.buttons{
    border: 1px solid pink;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    background-color: pink;
    margin-right: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    text-wrap: nowrap;
    transition: all 0.4s;
}
.buttons:hover{
    background-color: palevioletred;
    color: white;
    transition: all 0.4s;
    cursor: pointer;
}
main{
    width: 100vw;
    height: 90vh;
    overflow: scroll;
}
.post-form{
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-form > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input,
textarea{
    width: 600px;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: .5rem;
}
label{
    text-transform: uppercase;
    font-weight: 600;
}
#submit{
    background-color: cornsilk;
}
#submit:hover{
    background-color:sienna;
}