*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EF7C8E;
}
.navbar{
    width: 100vw;
    height: 10vh;
    background-color: #FAE8E0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.navbar > a{
    text-decoration: none;
    cursor: pointer;
}
.actions{
    display: flex;
    justify-content: space-around;
    width: 10vw;
}
.actions > a {
    border: 1px solid #B6E2D3;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    background-color: #B6E2D3;
    margin-right: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    text-wrap: nowrap;
    transition: all 0.4s;
}
.actions > a:hover{
    background-color: green;
    color: #FAE8E0;
    transition: all 0.4s;
}
main{
    width: 100vw;
    height: 90vh;
    overflow: scroll;
}
.cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    background-color: #FAE8E0;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;
}
.card > img{
    width: 100%;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 1rem;
    padding: .3rem;
}
.info{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    background-color: #FAE8E0;
}
.info > h2,
.info > p{
    margin-bottom: 1rem;
}

.update-button{
    background-color: #B6E2D3;
    padding: .7rem 1rem;
    border: 1px solid #B6E2D3;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.4s;
}
.update-button:hover{
    background-color: green;
    color: #FAE8E0;
    transition: all 0.4s;
}